<!DOCTYPE html>
<html>
<head>
<style>
/* references:
https://www.w3schools.com/css/css_navbar_vertical.asp

*/

.navigator {
  background: blue;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 300px;
  height: 100%;
}

#navigator-ul li {
  list-style-type: none;  
  color: white;

  display: block;
}
#navigator-ul li:hover {
  background: black;
}


</style>
<title>HOME</title>
</head>
<body>
<nav class=navigator>
  <ul id="navigator-ul">
    <li>Collections</li>
    <li>Random Stories</li>
    <li>Top-10 Universes</li>
  </ul>
</nav>
</body>
</html>