<h1 id="loginHeader">Login:</h1>
<form id='login'>
  <label for='user'>Username:</label><br>
  <input type='text' id='user'><br>
  <label for='password'>Password:</label><br>
  <input type='text' id='password'>
  <input type='submit'>
</form>
<hr>
<h1>Create Account:</h1>
<form id='create_account'>
  <label for='new_first_name'>First Name:</label><br>
  <input type='text' id='new_first_name'><br>
  <label for='new_last_name'>Last Name:</label><br>
  <input type='text' id='new_last_name'><br>
  <label for='new_user'>Username:</label><br>
  <input type='text' id='new_user'><br>
  <label for='new_password'>Password:</label><br>
  <input type='text' id='new_password'>
  <input type='submit'>
</form>
